@model IEnumerable<Supplier>

<!-- Brand area start -->
<div class="brand-area">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="all-p-title">
					<h3>MARKALAR</h3>
				</div>
			</div>
			<div class="clear"></div>
			<div class="all-brand singal-p">

				@foreach (var item in Model)
				{
					<div class="singal_brand">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<a href="/Home/SupplierPage/@item.SupplierID"> <img src="~/img/resimler/@item.PhotoPath" alt="" style="height:100px; width:200px;" /> </a>
						</div>
					</div>
				}

				
				
			</div>
		</div>
	</div>
</div>
<!-- footer top area start -->
<section id="sp-bottom-1">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4" id="sp-bottom1">
				<div class="sp-column ">
					<div class="sp-module ">
						<h3 class="sp-module-title"><span>HAKKIMIZDA</span></h3>
						<div class="sp-module-content">
							<div class="custom">
								<div class="footer-static-content">
									<p>Kuruluşundan günümüze süregelen profesyonellik, empati odaklı,
										dürüstlük ve gelişime açık bakış açımız ile istikrarlı büyüme sergileyerek,
										e-ticaret dünyasında saygın bir konuma yükselmeye hak kazandık.</p>
									<div class="f-icon">
										<h3>SOSYAL MEDYA</h3>
										<ul>
											<li class="first">
												<a href="index.html#"><i class="fa fa-facebook"></i></a>
											</li>
											<li>
												<a href="index.html#"><i class="fa fa-twitter"></i></a>
											</li>
											<li>
												<a href="index.html#"><i class="fa fa-google-plus"></i></a>
											</li>
											<li class="last">
												<a href="index.html#"><i class="fa fa-rss"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-8" id="sp-bottom2">
				<div class="sp-column ">
					<div class="sp-module ">
						<div class="sp-module-content">
							<div class="custom">
								<div class="row">
									<div class="col-xs-6  col-sm-3 col-md-3">
										<div class="moduletable">
											<h3>Information</h3>
											<ul class="nav menu">
												<li><a href="index.html#">My Account</a></li>
												<li><a href="index.html#">My Wishlist</a></li>
												<li><a href="index.html#">My Cart</a></li>
												<li><a href="index.html#">Login</a></li>
												<li><a href="index.html#">Contact Us</a></li>
											</ul>

										</div>

									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="sp-bottom-2">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 sp-bottomcontact">
				<div class="sp-column ">
					<div class="sp-module ">
						<h3 class="sp-module-title"><span>İLETİŞİM</span></h3>
						<div class="sp-module-content">
							<div class="custom">
								<div class="t-bottom-content">
									<p class="adress">
										<em class="fa fa-map-marker"></em>
										<span class="ft-content">
											@await Component.InvokeAsync("Adress")
										</span>
									</p>
									<p class="phone">
										<em class="fa fa-phone"></em>
										<span class="ft-content">
											@await Component.InvokeAsync("Telephone")
										</span>
									</p>
									<p class="email">
										<em class="fa fa-envelope"></em>
										<span class="ft-content">
											@await Component.InvokeAsync("Email")
										</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 sp-bottomcontact">
				<div class="sp-column ">
					<div class="sp-module ">
						<h3 class="sp-module-title"><span>Latest Blog Post</span></h3>
						<div class="lattest-blog-bottom singal-p">
							<div class="single-botoom-post">
								<div class="text-block">
									<div class="info">
										<div class="info-day">
											<span>02</span>
										</div>
										<div class="info-month">
											<span>Feb</span>
										</div>
									</div>
									<div class="info-text">
										<h4 class="title">
											<a title="" href="index.html#">5 Effective Email Unsubscribe Pages</a>
										</h4>
									</div>
								</div>
								<div class="text-block">
									<div class="info">
										<div class="info-day">
											<span>03</span>
										</div>
										<div class="info-month">
											<span>Feb</span>
										</div>
									</div>
									<div class="info-text">
										<h4 class="title">
											<a title="" href="index.html#">Nirob is The lazi person </a>
										</h4>
									</div>
								</div>
							</div>
							<div class="single-botoom-post">
								<div class="text-block">
									<div class="info">
										<div class="info-day">
											<span>02</span>
										</div>
										<div class="info-month">
											<span>Feb</span>
										</div>
									</div>
									<div class="info-text">
										<h4 class="title">
											<a title="" href="index.html#">Unsubscribe Effective Email  Pages</a>
										</h4>
									</div>
								</div>
								<div class="text-block">
									<div class="info">
										<div class="info-day">
											<span>03</span>
										</div>
										<div class="info-month">
											<span>Feb</span>
										</div>
									</div>
									<div class="info-text">
										<h4 class="title">
											<a title="" href="index.html#">Nirob is The lazi person </a>
										</h4>
									</div>
								</div>
							</div>
							<div class="single-botoom-post">
								<div class="text-block">
									<div class="info">
										<div class="info-day">
											<span>02</span>
										</div>
										<div class="info-month">
											<span>Feb</span>
										</div>
									</div>
									<div class="info-text">
										<h4 class="title">
											<a title="" href="index.html#">5 Effective Email Unsubscribe Pages</a>
										</h4>
									</div>
								</div>
								<div class="text-block">
									<div class="info">
										<div class="info-day">
											<span>03</span>
										</div>
										<div class="info-month">
											<span>Feb</span>
										</div>
									</div>
									<div class="info-text">
										<h4 class="title">
											<a title="" href="index.html#">Nirob is The lazi person </a>
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4 sp-bottomcontact">
				<div class="sp-column ">
					<div class="sp-module Subscribe-area">
						<h3 class="sp-module-title"><span>Newsletter</span></h3>
						<div class="sp-module-content">
							<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit </p>
							<div class="newsletter-from">
								<form action="index.html#">
									<input type="text" placeholder="E-mail" />
									<input type="submit" value="Subscribe" />

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer id="sp-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<p>KAKTÜS &copy; 2023 <a href="/Home/Index" target="_blank">Kaktüs</a> Tüm hakları saklıdır.</p>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="payment-logo">
					<img src="~/img/payment.png" alt="" />
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer top area end -->